html {
  scroll-behavior: smooth;
  padding-top: 4rem;
  color: #2e1f27;
}

body {
  overflow-x: hidden;
}

.navbar-custom {
  background-color: #a30000;
}

.navbar-custom .navbar-brand {
  color: #f3f3f4;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
}

.navbar-custom a {
  color: #f3f3f4;
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.navbar-custom a:hover {
  color: #b185a7;
  text-decoration: none;
}

h2 {
  font-size: 3em;
  color: #a30000;
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
}

h4 {
  padding-left: 10px;
}

.h-title {
  padding-left: 30px;
  margin-bottom: 0;
}

.h-line {
  padding-left: 30px;
  visibility: hidden;
}

.h-line::after {
  visibility: visible;
  content: "";
  width: 180px;
  height: 2px;
  display: inline-block;
  background: #d41111;
  margin: 20px 0px;
  margin-top: 0px;
}

.btn-main {
  border-radius: 0;
  background-color: #a30000;
  color: #fff !important;
  letter-spacing: 2px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px
}

.btn-main:hover {
  background-color: #823030;
}

.btn-grey {
  background-color: #7f8c8d;
  color: #fff !important;
}

.btn-grey:hover {
  background-color: #7f8c8d;
}

.footer {
  background-color: #a30000;
  color: #f3f3f4;
}

.line {
  border-top: 1px solid #d41111;
  width: 90% !important
}

.footer a {
  color: #f3f3f4;
}

.footer a:hover {
  color: #b185a7;
}

.normal-list {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 2px solid #a30000;
  list-style-type: none;
}

.normal-list li {
  margin-bottom: 5px;
}

.h-main {
  text-align: center;
  margin-bottom: 50px;
}