<div class="container-fluid mx-auto footer">
  <div class="row">
    <div class="line mb-3 mx-auto"></div>
    <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
      <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
        <h3><img src="/images/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top"> PAMC</h3> <small>Copyright &copy 2021</small>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Are you a teacher?</h5>
        <p class="mb-0">If you are interested in holding your own math program,</p>
        <p class="mb-0">and want help organizing it, contact us.</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Do you want to help us?</h5>
        <p class="mb-0">If you want to help us by teaching lectures or if</p>
        <p class="mb-0">you want to get involved in any capacity, contact us.</p>
      </div>
    </div>
    <div class="line mb-3 mx-auto"></div>
  </div>
  <div class="row justify-content-center">
    <div class="d-md-flex justify-content-between bd-highlight col-md-2 mb-5 px-5">
      <div class="p-2 align-self-center flex-fill bd-highlight">
      </div>
      <div class="p-2 align-self-center flex-fill bd-highlight">
        <div class="fa fa-envelope-o px-2">&nbsp;&nbsp;<a href="mailto:timothyzchu@gmail.com">timothyzchu@gmail.com</a></div>
      </div>
    </div>
  </div>
</div>
